@media all and (min-width: 480px)
{
	html{
		font-size: 11.5px;
	}
	
	.perfil, .conoceme{
		margin: 50px 0;
		border-radius: 30px;
		border: 1px solid var(--gris);
	}
	
	.conoceme__certificacion{
		border-bottom: none !important;
	}
	
	footer{
		flex-direction: row;
		align-items: center;
		border-top: 1px solid var(--gris);
	}
}