:root{
	--blanco: #fff;
	--blanco-opaco: #f2f2f2;
	--verde: #1dbf73;
	--body: #62646a;
	--gris-descolorido: #95979d;
	--gris: #ccc;
	--gris-opaco: #565151;
	--negro-descolorido: #404145;/*Para subtitulos*/
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	color: var(--body);
	background-color: var(--blanco);
	font-size: 10px;
	font-family: sans-serif;
}

body{
	font-size: 1.4rem;
}

a{
	text-decoration: none;
}

/*******************
HEADER
********************/

.contenido-header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 6.0rem;
	border-bottom: 3px solid var(--gris);
}

.contenido-header__boton{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 5%;
	width: 35px;
	height: 35px;
	font-size: 35px;
	font-weight: 500;
	cursor: pointer;
	overflow: hidden;
}

.contenido-header__logo a{
	color: var(--negro-descolorido);
	font-size: 2.0rem;
}

.contenido-header__logo span{
	color: var(--verde);
}

/* Menu desplegable */
.caja-nav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	transform: translate(-100%);
	transition-delay: .3s;/*El diley elimina el efecto que el fondo negro se desplasa, asique se abre y se sierra de forma instantania*/
	background: rgba(0, 0, 0, .4);
}

.caja-nav--aparecer{
	transform: translate(0);
	transition-delay: 0s;
}

nav{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 75%;
	max-width: 300px;
	overflow-y: scroll;
	transform: translate(-100%);
	transition: .3s .1s;
	box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .5);
	background-color: var(--blanco);
}

.nav--aparecer{
	transform: translate(0);
}

.nav__titulo{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 6.0rem;
	font-size: 3.85rem;
	font-weight: 700;
	color: var(--negro-descolorido);
	border-bottom: 3px solid var(--gris);
}

.nav__titulo span{
	color: var(--verde);
}

nav>a{
	padding: 15px 0 15px 20px;
	font-size: 1.7rem;
	font-weight: 500;
	transition: .5s ease;
	color: var(--gris-descolorido);
	border-bottom: 1px solid var(--gris);
}

nav>a:hover{
	color: var(--verde);
	border-bottom: 1px solid var(--verde);
}

.nav--espacio{
	flex-grow: 1;
}

.nav-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.nav-footer .social-icons{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0;
	width: 100%;
}

.nav-footer .social-icons a{
	margin: 2px 10px;
	padding: 10px;
	height: 50px;
	width: 50px;
	color: var(--body);
	border-radius: 50%;
	transition: .7s ease;
}

.nav-footer .social-icons a:hover{
	background-color: var(--blanco-opaco);
}

.nav-footer__descriccion{
	margin-bottom: 15px;
	color: var(--gris);
}

/*****************
MAIM
******************/

/***** Sobre mi *****/
.sobre-mi{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 900px;
}

/** Perfil **/
.perfil{
	padding: 60px 25px 25px;
	width: 100%;
	max-width: 660px;
}

.perfil__contactar{
	text-align: center;
	border-bottom: 1px solid var(--gris);
}

.perfil__contactar img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.perfil__contactar h2 {
	margin: 10px 0;
	font-size: 2.0rem;
	color: #0e0e0f;
}

.perfil__contactar a{
	display: block;
	padding: 10px 16px;
	margin: 20px 0;
	color: var(--blanco);
	background-color: var(--verde);
	border-radius: 5px;
	transition: .5s ease;
}

.perfil__contactar a:hover{
	box-shadow: 1px 1px 5px 1px var(--verde);
}

.perfil-info{
	margin-top: 20px;
}

.perfil-info__cajas{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 20px 30px;
	min-height: 20px;
}

.perfil-info__cajas svg{
	position: absolute;
	left: 0;
	height: 1.3rem;
	width: 1.3rem;
}

.perfil-info__cajas .negrita{
	padding-left: 30px;
	font-weight: 700;
}

/** Conoceme **/
.conoceme{
	padding: 20px;
}

.conoceme__nav{
	padding: 10px 20px !important;
	margin: 0 -20px;
	border-bottom: 1px solid var(--gris);
}

.conoceme__nav a{
	padding-bottom: 8px;
	margin-right: 25px;
	font-size: 1.7rem;
	color: var(--gris-descolorido);
}

.conoceme__nav a:hover, a.seleccionado{
	color: var(--verde);
	border-bottom: 3px solid var(--verde);
}

.conoceme>div{
	padding: 30px 0;
	border-bottom: 1px solid var(--gris);
}

.conoceme>div h3{
	margin-bottom: 1em;
	font-size: 1.8rem;
	color: var(--negro-descolorido);
	
}

.conoceme>div p{
	font-size: 1.7rem;
	line-height: 25px;
	color: var(--gris-descolorido);
}

.skills__contenido div{
	display: inline-block;
	padding: 10px;
	margin: 0 10px 15px 0;
	font-size: 1.7rem;
	font-weight: 400;
	border-radius: 20px;
	border: 1px solid var(--gris);
	cursor: pointer;
	transition: .7s ease;
}

.skills__contenido div:hover{
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .4);
}

.conoceme__certificacion{
	border: none !important;
}

/*********************
FOOTER
**********************/

footer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 0;
	text-align: center;
	border-top: 1px solid var(--gris);
}

footer>div{
	padding: 0 25px;
}

.footer__descriccion{
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	color: var(--gris);
	font-size: 1.5rem;
}

.footer__descriccion .titulo{
	font-size: 3.0rem;
	font-weight: 500;
	color: var(--body);
}

.footer__social-icons{
	display: flex;
	justify-content: space-around;
}

.footer__social-icons a{
	height: 50px;
	width: 50px;
	padding: 10px;
	margin: 0 10px;
	color: var(--body);
	border-radius: 50%;
	transition: .7s ease;
}

.footer__social-icons a:hover{
	background-color: var(--blanco-opaco);
}