:root{
	--blanco: #fff;
	--blanco-opaco: #f2f2f2;
	--verde: #1dbf73;
	--gris-descolorido: #95979d;
	--gris: #ccc;
	--gris-opaco: #565151;
	--negro-descolorido: #404145;/*Para subtitulos*/
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	color: #62646a;
	background-color: var(--blanco);
	font-size: 10px;
	font-family: sans-serif;
}

body{
	font-size: 1.4rem;
}

a{
	text-decoration: none;
}

/*******************
HEADER
********************/

.contenido-header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	border-bottom: 3px solid var(--gris);
}

.contenido-header__boton{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 5%;
	width: 35px;
	height: 35px;
	font-size: 35px;
	font-weight: 500;
	cursor: pointer;
	overflow: hidden;
}

.contenido-header__logo a{
	color: var(--negro-descolorido);
	font-size: 2.0rem;
}

.contenido-header__logo span{
	color: var(--verde);
}

/* Menu desplegable */
.caja-nav{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: translate(-100%);
	transition-delay: .3s;
	background: rgba(0, 0, 0, .4);
}

.caja-nav--aparecer{
	transform: translate(0);
	transition-delay: 0s;
}

nav{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 22rem;
	overflow-y: scroll;
	transform: translate(-100%);
	transition: .3s .1s;
	box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .5);
	background-color: var(--blanco);
}

.nav--aparecer{
	transform: translate(0);
}

.nav__titulo{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	font-size: 2.0rem;
	border-bottom: 3px solid var(--gris);
}

nav>a{
	padding: 15px;
	border-bottom: 1px solid var(--gris);
}

.nav--espacio{
	flex-grow: 1;
}

.nav-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.nav-footer .social-icons{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0;
	width: 100%;
}

.nav-footer .social-icons a{
	margin: 2px 4px;
	width: 40px;
}

.nav-footer .social-icons a img{
	width: 100%;
}

.nav-footer__descriccion{
	margin-bottom: 15px;
}

/*****************
MAIM
******************/

/***** Sobre mi *****/
.sobre-mi{
	max-width: 660px;
}

/** Perfil **/
.perfil{
	padding: 60px 25px 25px;/*
	border: 1px solid var(--gris);*/
}

.perfil__contactar{
	text-align: center;
	border-bottom: 1px solid var(--gris);
}

.perfil__contactar img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.perfil__contactar h2 {
	margin: 10px 0;
	font-size: 2.0rem;
	color: #0e0e0f;
}

.perfil__contactar a{
	display: block;
	padding: 10px 16px;
	margin: 20px 0;
	color: var(--blanco);
	background-color: var(--verde);
	border-radius: 5px;
}

.perfil-info{
	margin-top: 20px;
}

.perfil-info__cajas{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 20px 30px;
	min-height: 20px;
}

.perfil-info__cajas svg{
	position: absolute;
	left: 0;
	height: 1.3rem;
	width: 1.3rem;
}

.perfil-info__cajas .negrita{
	padding-left: 30px;
	font-weight: 700;
}

/** Conoceme **/
.conoceme{
	padding: 20px;/*
	border: 1px solid var(--gris);*/
}

.conoceme__nav{
	padding: 10px 20px !important;
	margin: 0 -20px;
	border-bottom: 1px solid var(--gris);
}

.conoceme__nav a{
	padding-bottom: 8px;
	margin-right: 30px;
	font-size: 1.7rem;
	color: var(--gris-descolorido);
}

.conoceme__nav a:hover, a.seleccionado{
	color: var(--verde);
	border-bottom: 3px solid var(--verde);
}

.conoceme>div{
	padding: 30px 0;
	border-bottom: 1px solid var(--gris);
}

.conoceme>div h3{
	margin-bottom: 1em;
	font-size: 1.8rem;
	color: var(--negro-descolorido);
	
}

.conoceme>div p{
	font-size: 1.7rem;
	line-height: 25px;
	color: var(--gris-descolorido);
}

.skills__contenido div{
	display: inline-block;
	padding: 10px;
	margin: 0 10px 15px 0;
	font-size: 1.7rem;
	font-weight: 400;
	border-radius: 20px;
	border: 1px solid var(--gris);
	cursor: pointer;
}